@media screen and (min-width: 992px) {
    
    main {
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
        width: 110vh;
        margin: auto;
    }
    
    article {
        height: 30vh;
        margin: 1vh;
        background-color: #f7b801;
    }
}