@media (min-width: 768px) and (max-width: 991px) {

    body {
        margin: 0;
        padding: 0;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
    }

    article {
        background-color: #a31621;
        height: 30vh;
        margin: 50px;
    }
}
